In [ ]:
# load data from diff_data folder where ml-1m folder containes train_list.npy, test_list.npy, ratings.csv

import pandas as pd 
import numpy as np

# load npy files
train_list = np.load('diff_data/ml_1m/train_list.npy')
test_list = np.load('diff_data/ml_1m/test_list.npy')
val_list = np.load('diff_data/ml_1m/valid_list.npy')

train_n, train_m = train_list.shape
test_n, test_m = test_list.shape
val_n, val_m = val_list.shape

print(f"all n: {train_n + test_n + val_n}")
print(train_list.shape)
print(test_list.shape)
print(val_list.shape)
# print first 10 rows of train_list
print(train_list[:10])

(403277, 2)
(57532, 2)
(110722, 2)
[[0 0]
 [0 1]
 [0 2]
 [0 3]
 [0 4]
 [0 5]
 [0 6]
 [0 7]
 [0 8]
 [0 9]]

In [5]:
df = pd.read_csv('data/ml-100k/u.data')
df.head()

   196\t242\t3\t881250949
0  186\t302\t3\t891717742
1   22\t377\t1\t878887116
2   244\t51\t2\t880606923
3  166\t346\t1\t886397596
4  298\t474\t4\t884182806